.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    /* Adjust width as needed */
    background-color: #f5f5f5;
    /* The color of your navbar background */
}

.nav-item {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-left: 5px solid transparent;
    /* Adjust the color as needed */
}

.nav-item.active {
    background-color: #007bff;
    /* Active item background color */
    color: white;
    border-left-color: #0056b3;
    /* Active item border color */
}

.signin-form {
    padding: 10px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    /* Separator line color */
}

.username-input,
.password-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.signin-button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #0056b3;
}