/*p {
    background-color: blue;
    color: white;
}*/
p#id-selector-1 {
    background-color: red;
    color: white;
}

p#id-selector-2 {
    background-color: yellow;
    color: black;
}

.wd-class-selector {
    background-color: yellow;
    color: blue;
}

.wd-selector-1 .wd-selector-3 {
    background-color: red;
    color: white;
}

.wd-selector-2>.wd-selector-3>.wd-selector-4 {
    background-color: yellow;
    color: blue;
}

.wd-fg-color-black {
    color: black;
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-blue {
    color: #7070ff;
}

.wd-fg-color-red {
    color: #ff7070;
}

.wd-fg-color-green {
    color: green;
}