.flex-container {
    display: flex;
    height: 100vh;
}


.left-column {
    flex: 1;

    padding: 20px;

}

.right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right-top {
    background-color: lightgreen;
    /* 右上部分背景颜色 */
    padding: 20px;

}

.right-bottom {
    flex: 1;

    display: flex;
    flex-direction: column;
    /* 垂直方向排列 */
}

/* 每一行 */
.right-bottom-row {
    display: flex;
    /* 嵌套的 Flex 容器，用于水平排列 */
    margin-bottom: 10px;
    /* 行之间的垂直间距 */
}


.right-bottom-item {
    flex: 1;

    padding: 10px;
    /* 内边距 */
    margin-right: 10px;

}