.active {
    background-color: white;
    color: red;
}





#firstColumn {
    width: 80px;
    /* Adjust sidebar width as needed (between 75 and 85 pixels) */
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 100px;
    /* Adjust top padding as needed */
}

/* Sidebar links styling */
#firstColumn ul {
    list-style-type: none;
    padding: 0;
}

#firstColumn li {
    margin: 8px 0;
    /* Adjust margin between links as needed (between 5 and 10 pixels) */
    padding: 8px;
    /* Adjust padding around links as needed (between 5 and 10 pixels) */
}



#firstColumn a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Styling for active link */