.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    /* Adjust the circle size as needed */
    height: 50px;
    /* Adjust the circle size as needed */
    /* background-color: gray; */
    /* Set the background color to gray */
    border-radius: 50%;
    /* Create a circle using border-radius */
}

.circle-icon i {
    color: grey;
    /* Set the icon color to white */
    font-size: 150px;
    /* Adjust the icon size as needed */
}